<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        <a href="https://github.com/tomwanzek/d3-ng2-demo">{{title}}</a>
        </span>
    </div>
  </div>
</div>


<app-wrapper-datamap></app-wrapper-datamap>
<app-wrapper-multi-series-line-chart></app-wrapper-multi-series-line-chart>
 <!--<app-wrapper-brush-zoom-2></app-wrapper-brush-zoom-2>
<app-wrapper-drag-zoom-2></app-wrapper-drag-zoom-2>
<app-wrapper-voronoi-spirals-3></app-wrapper-voronoi-spirals-3>

<footer class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <h3>Source Code Resources for this App</h3>
        <div class="well">

          <a href="https://github.com/tomwanzek/d3-ng2-demo">Demo App Github Repo</a><br>
          <a href="https://github.com/tomwanzek/d3-ng2-service">D3Service Github Repo</a>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>D3 Resources</h3>
        <div class="well">

          <a href="https://d3js.org/">D3 Data Driven Documents (Official Website)</a><br>
          <a href="https://github.com/d3/d3">D3 on Github</a><br>
          <a href="https://bl.ocks.org/mbostock">Mike Bostock's D3 Blocks</a><br>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>Angular Resources</h3>
        <div class="well">
          <a href="https://angular.io/">Angular</a><br>
          <a href="https://github.com/angular/angular-cli/">Angular CLI</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-lg-12">
      <p>
        Copyright &copy; 2017 Thomas Wanzek.
      </p>
      <p>
        <em>Released under MIT License. For details see:</em>
        <a href="https://github.com/tomwanzek/d3-ng2-demo/tree/master/LICENSE.txt">https://github.com/tomwanzek/d3-ng2-demo/tree/master/LICENSE</a>
      </p>
    </div>
  </div>
</footer>-->
