<div class="container">
  <div class="row">
    <div class="col col-lg-2 col-md-2 col-sm-2">
      <label> Bought On: </label>
      <my-date-picker placeholder="27/06/2016" [options]="myDatePickerOptions" (dateChanged)="startDateChanged($event)"></my-date-picker>
    </div>
    <div class="col col-lg-2 col-md-2 col-sm-2">
      <label> Sold On: </label>
      <my-date-picker placeholder="27/06/2017" [options]="myDatePickerOptions" (dateChanged)="endDateChanged($event)"></my-date-picker>
    </div>
    <div class="col col-lg-8 col-md-8 col-sm-8">
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-4">
         <app-wrapper-multi-series-line-chart [graphAttribute]="graphTypes.change"  ></app-wrapper-multi-series-line-chart>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4">
        <app-wrapper-multi-series-line-chart [graphAttribute]="graphTypes.daily_return"  ></app-wrapper-multi-series-line-chart>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4">
        <app-wrapper-multi-series-line-chart [graphAttribute]="graphTypes.close"  ></app-wrapper-multi-series-line-chart>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <app-datamap [startDate]="startDate" [endDate]="endDate" > </app-datamap>
    </div>
  </div>
</div>
